################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BOS.StarterCode/bin/Debug/netcoreapp2.2
/BOS.StarterCode/obj
